<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>
<div class="row">
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <%# find user who created post %>
        <% your_posts = Post.find_by({ "user_id" => session["user_id"] }) %>
        
        <%# handle any potential bad data where the post is missing a user %>
        
        Session User Id <%= session["user_id"] %>
        <p>Post ID <%= post["place_id"] %> </p>
        <p>Place ID <%= @place["id"] %> </p>
      </h4>

      <p><%= post["title"] %></p>

    </div>
  <% end %>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>